extends /_include/_template/_t_base_template

block vars
	-
		var pageOption = {
			KEY: "component",
			URL: '',
			RELATIVE_PATH: '',
			TITLE: 'いまシンガポールにいます。',
			DESCRIPTION: '',
			KEYWORDS: '',
			side: [false,"left"],
			HEADER: false,
			FOOTER: false,
			SIDE: false,
			jquery: true
		}
block contents
	+l-contentsWidth({tag:"div"})
		.c-lineBlock
			.inner
				.block.contents
					.area.header
						.upper
							.career
								.radio
									span
									span
									span
									span
								p docono
								p 4G
							p.clock#clock
								span.hour
								span :
								span.minute
							.battery
								span 100%
						.nameBlock
							.col
								span.btn
								span.name AYANO
							.col
								span.tel
								span.menu
									span
									span
									span
					.area.body.scrollBox01
						.inner
						
					.area.input
						.col.plus
						.col.camera
						.col.graphic
						.col.input
							textarea(placeholder="Aa" wrap="soft")#text
							.stampBtn
						.col.mike

					.area.stampArea
						.inner
							.stamp
								img(src=pageOption.RELATIVE_PATH + "images/stamp02.png", alt="どこ")
							.stamp
								img(src=pageOption.RELATIVE_PATH + "images/stamp04.png", alt="グー")
							.stamp
								img(src=pageOption.RELATIVE_PATH + "images/stamp05.png", alt="チョキ")
							.stamp
								img(src=pageOption.RELATIVE_PATH + "images/stamp06.png", alt="パー")

